<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Sellers</title>
  <link rel="stylesheet" href="../assets/css/components/bestSeller.css">
</head>
<body>
  <div class="best-seller-page">
    <!-- Title -->
    <div class="title-section">
      <h2><span>MOST</span> WANTED</h2>
      <p class="title-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>

    <!-- Products Grid -->
    <div id="bestSeller-grid" class="product-grid"></div>
  </div>
  <script type="module" src="../assets/js/components/bestSeller.js"></script>
</body>
</html>
