<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/components/footer.css">
    <title>Document</title>
</head>
<body>
    <!-- components/footer.html -->
    <div class="footer">
        <div class="footer-section">
          <img src="../assets/images/logo.avif" class="footer-logo" alt="Logo">
          <p class="footer-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, sequi enim saepe numquam quaerat molestias cumque soluta quisquam reprehenderit quo alias aperiam autem repellendus iusto corporis necessitatibus et vel facilis.
          </p>
        </div>
        <div class="footer-section">
          <p class="footer-title">COMPANY</p>
          <ul class="footer-links">
            <li>Home</li>
            <li>About Us</li>
            <li>Delivery</li>
            <li>Privacy policy</li>
          </ul>
        </div>
        <div class="footer-section">
          <p class="footer-title">GET IN TOUCH</p>
          <ul class="footer-contacts">
            <li>+84-365400826</li>
            <li>nguyenthaovan351@gmail.com</li>
          </ul>
        </div>
        <div class="footer-copyright">
          <hr />
          <p>Copyright 2024@ cindy.com - All Right Reserved.</p>
        </div>
      </div>

    <script type="module" src="../assets/js/components/footer.js"></script>
</body>
</html>