<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/components/hero.css">
    <title>Document</title>
</head>
<body>
     <!-- components/hero.html -->
     <div class="hero">
        <!-- Hero Left Side -->
        <div class="hero-left">
          <div class="hero-content">
            <div class="hero-label">
              <p class="hero-line"></p>
              <p class="hero-bestseller">OUR BESTSELLER</p>
            </div>
            <h1 class="hero-title">Latest Arrivals</h1>
            <div class="hero-shop">
              <p class="hero-shop-now">SHOP NOW</p>
              <p class="hero-line"></p>
            </div>
          </div>
        </div>
        <!-- Hero Right Side -->
        <img class="hero-image" src="./assets/images/aboutus.jpeg" alt="Hero Image">
      </div>

    <script type="module" src="./assets/js/components/hero.js"></script>
</body>
</html>