<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Latest Collection</title>
  <link rel="stylesheet" href="./assets/css/components/latestCollection.css">
</head>
<body>
  <div class="latest-collection">
    <!-- Title Section -->
    <div class="title-section">
      <h2><span>LATEST</span> COLLECTION</h2>
      <p class="title-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, magni.
      </p>
    </div>

    <!-- Products Grid -->
    <div id="latestCollection-grid" class="product-grid"></div>
  </div>
  <script type="module" src="./assets/js/components/latestCollection.js"></script>
</body>
</html>
