<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/components/ourPolicy.css">
    <title>Document</title>
</head>
<body>
    <!-- components/ourPolicy.html -->
    <div class="our-policy">
        <div class="policy-item">
          <img src="../assets/images/exchange.png" alt="Exchange Policy" class="policy-icon">
          <p class="policy-title">Easy Exchange Policy</p>
          <p class="policy-description">We offer hassle free exchange policy</p>
        </div>
        <div class="policy-item">
          <img src="../assets/images/quality.png" alt="Return Policy" class="policy-icon">
          <p class="policy-title">7 Days Return Policy</p>
          <p class="policy-description">We provide 7 days free return policy</p>
        </div>
        <div class="policy-item">
          <img src="../assets/images/customer-service.png" alt="Customer Support" class="policy-icon">
          <p class="policy-title">Best Customer Support</p>
          <p class="policy-description">Lorem ipsum, dolor sit amet consecte</p>
        </div>
      </div>

    <script type="module" src="../assets/js/components/ourPolicy.js"></script>
</body>
</html>